@charset "utf-8";

/* popup */
#popup{position: fixed; top: 0; left: 0; z-index: 7000; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);}
#popup .popupWrap{position: absolute; left: 0; right: 0; top: 50%;  margin: 0 auto; width: 400px; border-radius: 10px; overflow: hidden; background-color: #fff; transform: translateY(-50%);}
#popup .imgWrap{position: relative; width: 100%; height: 250px;}
#popup .imgWrap img:first-child{width: 100%; height: 100%; object-fit: cover;}
#popup .imgWrap img:last-child{position: absolute; right: 20px; top: 20px; width: 50%;}
#popup .textWrap{width: 100%; padding: 30px;}
#popup h3{margin-bottom: 10px;}
#popup p{line-height: 1.5; text-align: justify;}
#popup p:first-of-type{margin-bottom: 10px;}
#popup ul{display: flex; width: 100%; border-top: 1px solid #ccc;}
#popup li{ width: 50%; height: 60px;}
#popup li:first-child{border-right: 1px solid #ccc;}
#popup li a{display: block; width: 100%; height: 100%; text-align: center; line-height: 60px; font-size: 1.125rem;}
#popup .mainColor{color: #0957c3;}


/* mobile */
@media screen and (max-width:500px) {
    #popup .popupWrap{width: 22.5rem;}
    #popup .imgWrap{height: 14.0625rem;}
    #popup .textWrap{padding: 1.25rem;}
    #popup li{height: 3.75rem;}
    #popup li a{line-height: 3.75rem;}
}
